
{% extends "layout.html" %}

{% block pageTitle %}
  How can I reduce flooding in my area?
{% endblock %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        prototype
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>


{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      How to reduce flood risk in your area
    </h1>

    <p class="govuk-body">
      Some introductory information about the growing incedence of flooding, climate change etc etc.
    </p>

    <div class="govuk-inset-text">
      <p class="govuk-body">
        This guide is intended to be used by XXXXXXXXXXXX to YYYYYYYYYYYY
      </p>
    </div>

    <p class="govuk-body">
      Below you will find a collection of guides and iformation on how you can help reduce the risk of flooding in your community and your area.
    </p>


  </div>



</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l">
      <a href="nfm" class="govuk-link">
        Reducing flooding by using Natural Flood Management
      </a>
    </h2>

    <h3 class="govuk-heading-m">
      What is Natural Flood Management?
    </h3>

    <p class="govuk-body">
      Leaky barriers constructed in streams and ditches are designed to hold back flood water within the channel or encourage water to spill onto the banks, reducing the downstream flood peak by temporarily storing water and slowing the flow.
    </p>

    <p class="govuk-body">
      Leaky barriers are designed to replicate naturally fallen trees and create a variety of habitats and flow conditions. They are set above normal stream level, so normal flows and fish movement are not impeded. When whole trunks are used, secured into place, they are referred to as large woody dams.
    </p>

    <p class="govuk-body">
      <a href="nfm" class="govuk-link">
      Read more about Natural Flood Management
      </a>
    </p>

  </div>

  <div class="govuk-grid-column-one-third">
    <div class="summary">
      <div class="summary-box">
        <h2 class="govuk-heading-m">
          Summary
        </h2>
        <ul class="govuk-list govuk-list--bullet">
          <li class="govuk-body-s">
            <a href="nfm#what-is-nfm" class="govuk-link">
              What is NFM
            </a>
          </li>
          <li class="govuk-body-s">
            <a href="nfm#what-can-nfm-do" class="govuk-link">
              What can NFM do
            </a>
          </li>
          <li class="govuk-body-s">
            <a href="nfm#types-of-nfm" class="govuk-link">
              The types of NFM
            </a>
          </li>
        </ul>

      </div>
    </div>
  </div>

</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l">
      <a href="community" class="govuk-link">
        Working together as a community
      </a>
    </h2>

    <h3 class="govuk-heading-m">
      Join a flood group
    </h3>

    <p class="govuk-body">
      Bunds are low earth mounds that are built following the contour of the slope. Water is held by the bund and allowed to disperse through a combination of infiltration into the soil, evaporation and slow release (for example through a small pipe or filter material).
    </p>

    <p class="govuk-body">
      <a href="community#join" class="govuk-link">
        More information about joining a flood group in your area
      </a>
    </p>

    <h3 class="govuk-heading-m">
      Setup a flood group
    </h3>

    <p class="govuk-body">
      Bunds are low earth mounds that are built following the contour of the slope. Water is held by the bund and allowed to disperse through a combination of infiltration into the soil, evaporation and slow release (for example through a small pipe or filter material).
    </p>

    <p class="govuk-body">
      <a href="community#create" class="govuk-link">
        More information about starting a flood group in your area
      </a>
    </p>

  </div>

  <div class="govuk-grid-column-one-third">
    <div class="summary">
      <div class="summary-box">
        <h2 class="govuk-heading-m">
          Summary
        </h2>
        <ul class="govuk-list govuk-list--bullet">
          <li class="govuk-body-s">
            <a href="community#join" class="govuk-link">
              Join a flood group
            </a>
          </li>
          <li class="govuk-body-s">
            <a href="community#create" class="govuk-link">
              Start a flood group
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l">
      <a href="advice" class="govuk-link">
        Where can I get help and advice?
      </a>
    </h2>

    <h3 class="govuk-heading-m">
      Experts
    </h3>

    <p class="govuk-body">
      Ponds and shallow scrapes capture and store water during flood events. They should drain down slowly after flood events to maintain capacity but can be designed to hold some water permanently.
    </p>

    <p class="govuk-body">
      <a href="advice" class="govuk-link">
        Read more about the best places to get advice on natural flood management
      </a>
    </p>

    <h3 class="govuk-heading-m">
      NGOs
    </h3>

    <p class="govuk-body">
      Ponds and shallow scrapes capture and store water during flood events. They should drain down slowly after flood events to maintain capacity but can be designed to hold some water permanently.
    </p>

    <p class="govuk-body">
      <a href="advice" class="govuk-link">
        Read more about the best places to get advice on natural flood management
      </a>
    </p>

    <h3 class="govuk-heading-m">
      Private sector
    </h3>

    <p class="govuk-body">
      Offline ponds and scrapes are situated in the floodplain to capture overland runoff. Online ponds have a stream channel flowing through. The flood water is then stored temporarily and is released back into the watercourse in a controlled manner.
    </p>


    <p class="govuk-body">
      <a href="advice" class="govuk-link">
        Read more about the best places to get advice on natural flood management
      </a>
    </p>

  </div>

  <div class="govuk-grid-column-one-third">
    <div class="summary">
      <div class="summary-box">
        <h2 class="govuk-heading-m">
          Summary
        </h2>
        <ul class="govuk-list govuk-list--bullet">
          <li class="govuk-body-s">
            <a href="nfm" class="govuk-link">
              Experts
            </a>
          </li>
          <li class="govuk-body-s">
            <a href="nfm" class="govuk-link">
              NGOs
            </a>
          </li>
          <li class="govuk-body-s">
            <a href="nfm" class="govuk-link">
              Private Sector
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>



{% endblock %}
