
{% extends "layout.html" %}

{% block pageTitle %}
  How can I reduce flooding in my area?
{% endblock %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        prototype
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>


{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      How to reduce flood risk in your area
    </h1>

    <p class="govuk-body">
      Some introductory information about the growing incedence of flooding, climate change etc etc.
    </p>

    <div class="govuk-inset-text">
      <p class="govuk-body">
        This guide is intended to be used by anyone that is concerned by the increasing occurence of flooding in their area. This guide is to provide advice on steps you can take to help reduce the ongoing risk of flooding.
      </p>
    </div>

    <p class="govuk-body">
      Below you will find a collection of guides and iformation on how you can help reduce the risk of flooding in your community and your area.
    </p>


  </div>



</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l">
      <a href="flooding" class="govuk-link">
        Why flooding happens
      </a>
    </h2>

    <h3 class="govuk-heading-m">
      What is a catchment?
    </h3>

    <p class="govuk-body">
      An introduction to the idea of the catchment and the ideas that flooding can be caused a few miles away.
    </p>

    <p class="govuk-body">
      <a href="flooding#catchment" class="govuk-link">
        What is a catchment?
      </a>
    </p>

    <h3 class="govuk-heading-m">
      The different tpyes of flooding
    </h3>

    <p class="govuk-body">
      Flooding can be cause by a number of different factors. Some more introductory content about that.
    </p>

    <p class="govuk-body">
      <a href="flooding#types" class="govuk-link">
        The different types of flooding
      </a>
    </p>

  </div>

  <div class="govuk-grid-column-one-third">
    <div class="summary">
      <div class="summary-box">
        <h2 class="govuk-heading-m">
          Summary
        </h2>
        <ul class="govuk-list govuk-list--bullet">
          <li class="govuk-body-s">
            <a href="flooding#catchment" class="govuk-link">
              What is a catchment?
            </a>
          </li>
          <li class="govuk-body-s">
            <a href="flooding#types" class="govuk-link">
              The different types of flooding
            </a>
          </li>
        </ul>

      </div>
    </div>
  </div>

</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l">
      <a href="nfm" class="govuk-link">
        Reducing flooding by using Natural Flood Management
      </a>
    </h2>

    <h3 class="govuk-heading-m">
      What is Natural Flood Management?
    </h3>

    <p class="govuk-body">
      Sometime known as working with natural processes, or  nature based solutions, natural flood management (NFM) is when natural processes are used to reduce the risk of flooding and coastal erosion. Examples include: restoring bends in rivers, changing the way land is managed so soil can absorb more water and creating saltmarshes on the coast to absorb wave energy.
    </p>

    <p class="govuk-body">
      There are different types of NFM for differnt ladscapes. From farmers fields, to valleys, to urban housing estates, there is a form of NFM that can be used to help ruduce flood risks.
    </p>

    <p class="govuk-body">
      <a href="nfm" class="govuk-link">
      Read more about Natural Flood Management
      </a>
    </p>

  </div>

  <div class="govuk-grid-column-one-third">
    <div class="summary">
      <div class="summary-box">
        <h2 class="govuk-heading-m">
          Summary
        </h2>
        <ul class="govuk-list govuk-list--bullet">
          <li class="govuk-body-s">
            <a href="nfm#what-is-nfm" class="govuk-link">
              What is NFM
            </a>
          </li>
          <li class="govuk-body-s">
            <a href="nfm#what-can-nfm-do" class="govuk-link">
              What can NFM do
            </a>
          </li>
          <li class="govuk-body-s">
            <a href="nfm#types-of-nfm" class="govuk-link">
              The types of NFM
            </a>
          </li>
        </ul>

      </div>
    </div>
  </div>

</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l">
      <a href="community" class="govuk-link">
        Working together as a community
      </a>
    </h2>

    <h3 class="govuk-heading-m">
      Join a flood group
    </h3>

    <p class="govuk-body">
      Coming together as a community is a powerful way to influence how flooding is managed in your area. Flood groups are instrumental in how to prevent, react and become resilient to flooding.
    </p>

    <p class="govuk-body">
      <a href="community#join" class="govuk-link">
        More information about joining a flood group in your area
      </a>
    </p>

    <h3 class="govuk-heading-m">
      Setup a flood group
    </h3>

    <p class="govuk-body">
      If there are no existing flood groups in your area then starting one would be an excellent first step. Follow our guide on the best steps to doing this.
    </p>

    <p class="govuk-body">
      <a href="community#create" class="govuk-link">
        More information about starting a flood group in your area
      </a>
    </p>

  </div>

  <div class="govuk-grid-column-one-third">
    <div class="summary">
      <div class="summary-box">
        <h2 class="govuk-heading-m">
          Summary
        </h2>
        <ul class="govuk-list govuk-list--bullet">
          <li class="govuk-body-s">
            <a href="community#join" class="govuk-link">
              Join a flood group
            </a>
          </li>
          <li class="govuk-body-s">
            <a href="community#create" class="govuk-link">
              Start a flood group
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l">
      <a href="advice" class="govuk-link">
        Where can I get help and advice?
      </a>
    </h2>

    <h3 class="govuk-heading-m">
      Resources
    </h3>

    <p class="govuk-body">
      There are many sources of information on Natural Flood Management and flood prevention, readiness and resilience.
    </p>

    <p class="govuk-body">
      <a href="advice#resources" class="govuk-link">
        Read more about the best places to get advice on natural flood management
      </a>
    </p>

    <h3 class="govuk-heading-m">
      NGOs
    </h3>

    <p class="govuk-body">
      Outside of central government agencies there are many local and notional organisations that can help with work around flood prevention. Providing sources of funding, advice and much more.
    </p>

    <p class="govuk-body">
      <a href="advice#ngos" class="govuk-link">
        Read more about the role of NGOs
      </a>
    </p>

    <h3 class="govuk-heading-m">
      Private sector
    </h3>

    <p class="govuk-body">
      Flood prevention and the wider environmental benfits of NFM is something that many private sector companies are keen to help with.
    </p>


    <p class="govuk-body">
      <a href="advice#private" class="govuk-link">
        Read more about how private sector companies can help
      </a>
    </p>

  </div>

  <div class="govuk-grid-column-one-third">
    <div class="summary">
      <div class="summary-box">
        <h2 class="govuk-heading-m">
          Summary
        </h2>
        <ul class="govuk-list govuk-list--bullet">
          <li class="govuk-body-s">
            <a href="nfm" class="govuk-link">
              Experts
            </a>
          </li>
          <li class="govuk-body-s">
            <a href="nfm" class="govuk-link">
              NGOs
            </a>
          </li>
          <li class="govuk-body-s">
            <a href="nfm" class="govuk-link">
              Private Sector
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>



{% endblock %}
