// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.index-date {
  margin-bottom: 0;
}

.index-version,
.govuk-heading-l.index-version {
  padding-top: 0;
}

.placeholder-map {
  margin-bottom: 1.4em;
  width: 100%;
}

.summary {
  &-box {
    background-color: #f3f2f1;
    padding: 12px 24px;
  }
}

.content-image {
  margin-bottom: 1.2em;
  max-width: 90%;
}

//WHITEHALL PUBLISHER STYLES

//Contents list
.gem-c-contents-list__title {
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.gem-c-contents-list__list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;

  &-item {
    line-height: 1.3;
    padding-top: 7.5px;
    padding-left: 25px;
    padding-right: 25px;
  }
}
.govuk__list-item--dashed {

  position: relative;

  &:before {
    content: "—";
    position: absolute;
    left: 0;
    width: 20px;
    overflow: hidden;
  }

}

//print button
.gem-c-print-link__button {
  background: url("../images/icon-print.png") no-repeat 10px 50%;
  background-size: 16px 18px;
  border: 1px solid #b1b4b6;
  color: #1d70b8;
  cursor: pointer;
  margin: 0;
  padding: 10px 10px 10px 36px;
}

//back to contents link
.app-c-back-to-top__icon {
  height: 0.9em;
  margin-right: 3px;
}

//definition list styling for date metadata
.gem-c-metadata__term {
  box-sizing: border-box;
  float: left;
  clear: left;
  width: 30%;
  max-width: 11em;
  padding-right: 10px;
  margin-top: 0;
}

//Help notice {
.application-notice,
.help-notice {
  background-color: #eee;
  padding: 1.5em;
}

//Contact styling
.contact {
  border-left: 1px solid #b1b4b6;
  padding-left: 15px;
  margin-bottom: 30px;
  margin-top: 30px;

}

//Related Navigation
.gem-c-related-navigation {
  color: #0b0c0c;
  border-top: 2px solid #1d70b8;
}

.gem-c-related-navigation__link-list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 1.25em;
}

.gem-c-related-navigation__link {
line-height: 1.28;
  margin-top: 15px;
}


//Brexit CTA
.gem-c-contextual-sidebar__brexit-cta {
  margin-bottom: 30px;
  background-color: #f3f2f1;
  border-top: 2px solid #ff003b;
  display: block;
  padding: 0 15px 15px;
  text-decoration: none;
}

.gem-c-contextual-sidebar__take-action-traffic-lights>li {
  white-space: nowrap;
  display: inline;
  margin-right: 7px;
  margin-bottom: 5px;
}

.gem-c-contextual-sidebar__take-action-traffic-lists-icon {
  vertical-align: middle;
  margin-top: -2px;
  width: 22px;
  margin-right: 2px;
}

.gem-c-contextual-sidebar__take-action-traffic-lists-text {
  font-size: 19px;
  font-weight: bold;
  line-height: 2;
}
