{% extends "layout.html" %}

{% block pageTitle %}
  How to reduce flooding in your area
{% endblock %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        prototype
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <a class="govuk-back-link" href="area">
    Back
  </a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Natural Flood Management
    </h1>

    <p class="govuk-body-l">
      Sometimes known as Working with Natural Processes or Nature Based Soultions.
    </p>

    <p class="govuk-body">
      Some introductory information about NFM, what it is and why it is important.
    </p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l" id="what-is-nfm">
      What is Natural Flood Management?
    </h2>

    <p class="govuk-body">
      Some introductory information about NFM, what it is and why it is important. Some introductory information about what NFM is, what it is and why it is important.
    </p>

    <p class="govuk-body">
      Some introductory information about what NFM is, what it is and why it is important. Some introductory information about what NFM is, what it is and why it is important.
    </p>

    <h3 class="govuk-heading-m" id="what-can-nfm-do">
      What can Natural Flood Management do?
    </h3>

    <p class="govuk-body">
      Some introductory information about NFM, what it is and why it is important. Some introductory information about what NFM is, what it is and why it is important.
    </p>

    <p class="govuk-body">
      Some introductory information about what NFM is, what it is and why it is important. Some introductory information about what NFM is, what it is and why it is important.
    </p>

  </div>

  <div class="govuk-grid-column-one-third">

      <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

      <aside class="app-related-items" role="complementary">

        <h2 class="govuk-heading-m" id="subsection-title">
          In this section
        </h2>

        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a class="govuk-link" href="#what-is-nfm">
                What is Natural Flood Management
              </a>
            </li>
            <li>
              <a class="govuk-link" href="#what-can-nfm-do">
                What can Natural Flood Management do?
              </a>
            </li>
            <li>
              <a class="govuk-link" href="#types-of-nfm">
                The different types of Natural Flood Management
              </a>
            </li>
          </ul>
        </nav>

      </aside>

    </div>

</div>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-xl" id="types-of-nfm">
        The different types of Natural Flood Management
      </h2>

      <p class="govuk-body">
        Some introductory information about what NFM is, what it is and why it is important. Some introductory information about what NFM is, what it is and why it is important.
      </p>

    </div>

  </div>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l">
        Leaky Barriers
      </h2>

      <p class="govuk-body">
        Leaky barriers constructed in streams and ditches are designed to hold back flood water within the channel or encourage water to spill onto the banks, reducing the downstream flood peak by temporarily storing water and slowing the flow.
      </p>

      <img class="content-image" src="/public/images/Pickering_LeakyDam.jpg" alt="A photograph of a leaky dam project in Pickering">

      <p class="govuk-body">
        Leaky barriers are designed to replicate naturally fallen trees and create a variety of habitats and flow conditions. They are set above normal stream level, so normal flows and fish movement are not impeded. When whole trunks are used, secured into place, they are referred to as large woody dams.
      </p>

    </div>

    <div class="govuk-grid-column-one-third">
      <div class="summary">
        <div class="summary-box">
          <h2 class="govuk-heading-m">
            Leaky Barrier Summary
          </h2>
          <ul class="govuk-list govuk-body-s">
            <li>
              <strong>Suitable for:</strong> Where they are best suited
            </li>
            <li>
              <strong>Other benefits:</strong> Other benefits
            </li>
            <li>
              <strong>Evidence:</strong> <a href="#" class="govuk-link">Link to evidence</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l">
        Bunds
      </h2>

      <p class="govuk-body">
        Bunds are low earth mounds that are built following the contour of the slope. Water is held by the bund and allowed to disperse through a combination of infiltration into the soil, evaporation and slow release (for example through a small pipe or filter material).
      </p>

    </div>

    <div class="govuk-grid-column-one-third">
      <div class="summary">
        <div class="summary-box">
          <h2 class="govuk-heading-m">
            Bunds Summary
          </h2>
          <ul class="govuk-list govuk-body-s">
            <li>
              <strong>Suitable for:</strong> Where they are best suited
            </li>
            <li>
              <strong>Other benefits:</strong> Other benefits
            </li>
            <li>
              <strong>Evidence:</strong> <a href="#" class="govuk-link">Link to evidence</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l">
        Ponds and Scrapes
      </h2>

      <p class="govuk-body">
        Ponds and shallow scrapes capture and store water during flood events. They should drain down slowly after flood events to maintain capacity but can be designed to hold some water permanently.
      </p>

      <img class="content-image" src="/public/images/scrape.jpg" alt="A photograph of a scrape full of water in a farm field">

      <p class="govuk-body">
        Offline ponds and scrapes are situated in the floodplain to capture overland runoff. Online ponds have a stream channel flowing through. The flood water is then stored temporarily and is released back into the watercourse in a controlled manner.
      </p>

    </div>

    <div class="govuk-grid-column-one-third">
      <div class="summary">
        <div class="summary-box">
          <h2 class="govuk-heading-m">
            Ponds and Scrapes Summary
          </h2>
          <ul class="govuk-list govuk-body-s">
            <li>
              <strong>Suitable for:</strong> Where they are best suited
            </li>
            <li>
              <strong>Other benefits:</strong> Other benefits
            </li>
            <li>
              <strong>Evidence:</strong> <a href="#" class="govuk-link">Link to evidence</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l">
        River and floodplain restoration
      </h2>

      <p class="govuk-body">
        Many rivers have been straightened and flood embankments built to increase the land available for agriculture. Even small becks have often been altered.
      </p>
      <p class="govuk-body">
          These changes disconnect rivers from their natural floodplain reducing the area naturally available to store floodwater. This results in a greater volume of flood water travelling more quickly downstream to villages and towns.
      </p>

    </div>

    <div class="govuk-grid-column-one-third">
      <div class="summary">
        <div class="summary-box">
          <h2 class="govuk-heading-m">
            River and floodplain restoration Summary
          </h2>
          <ul class="govuk-list govuk-body-s">
            <li>
              <strong>Suitable for:</strong> Where they are best suited
            </li>
            <li>
              <strong>Other benefits:</strong> Other benefits
            </li>
            <li>
              <strong>Evidence:</strong> <a href="#" class="govuk-link">Link to evidence</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l">
        Water Butts
      </h2>

      <p class="govuk-body">
        If installing water butts can save 30,000 million litres of water each summer that means that 30,000 million litres of water could be saved from rushing to the drains when it is raining. This reduces the volume of water in our surface water sewer system and could alleviate areas at risk of surface water flooding.
      </p>

      <img class="content-image" src="/public/images/water-butt-4.jpg" alt="A photograph of a water butt that captures rainfall from the roof of a house">

      <p class="govuk-body">
        And that is why I am often singing the praises of the humble water butt. Water butts are one of the many features that can help prevent our drains from becoming overwhelmed during heavy rainfall, and they’re possibly the easiest SuDS measure to install at home. So why not get one yourself?
      </p>

    </div>

    <div class="govuk-grid-column-one-third">
      <div class="summary">
        <div class="summary-box">
          <h2 class="govuk-heading-m">
            Water Butts Summary
          </h2>
          <ul class="govuk-list govuk-body-s">
            <li>
              <strong>Suitable for:</strong> Where they are best suited
            </li>
            <li>
              <strong>Other benefits:</strong> Other benefits
            </li>
            <li>
              <strong>Evidence:</strong> <a href="#" class="govuk-link">Link to evidence</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l">
        Drainable Surfaces
      </h2>

      <p class="govuk-body">
        Sustainable drainage systems (SuDS) are a natural approach to managing drainage in and around properties and other developments.
      </p>
      <p class="govuk-body">
        SuDS work by slowing and holding back the water that runs off from a site, allowing natural processes to break down pollutants.
      </p>

    </div>

    <div class="govuk-grid-column-one-third">
      <div class="summary">
        <div class="summary-box">
          <h2 class="govuk-heading-m">
            Drainable Surfaces Summary
          </h2>
          <ul class="govuk-list govuk-body-s">
            <li>
              <strong>Suitable for:</strong> Where they are best suited
            </li>
            <li>
              <strong>Other benefits:</strong> Other benefits
            </li>
            <li>
              <strong>Evidence:</strong> <a href="#" class="govuk-link">Link to evidence</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l" id="next">
        Next Steps: How to get NFM in your area
      </h2>

      <p class="govuk-body">
        Some text about the next steps that are needed.
      </p>

      <p class="govuk-body">
        The what, where, when, who and how of putting NFM in place. The what, where, when, who and how of putting NFM in place. The what, where, when, who and how of putting NFM in place. The what, where, when, who and how of putting NFM in place. The what, where, when, who and how of putting NFM in place. The what, where, when, who and how of putting NFM in place.
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="community" class="govuk-link">Community Groups</a>
        </li>
        <li>
          The Environment Agency etc etc
        </li>
        <li>
          Other next steps etc etc
        </li>
      </ul>


    </div>

  </div>


{% endblock %}
