{% extends "layout.html" %}

{% block pageTitle %}
  How to reduce flooding in your area
{% endblock %}

{% block beforeContent %}
<!--
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
  -->

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "The name of the service",
        href: "#"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <div class="gem-c-title govuk-!-margin-top-0 govuk-!-margin-bottom-8">

        <span class="govuk-caption-xl gem-c-title__context">
          Guidance
        </span>

        <h1 class="govuk-heading-xl">
          Increase your resilience to flooding using natural flood management
        </h1>

        <p class="govuk-body-l">
          You can use natural solutions to reduce the risk and impact of future flooding by capturing water or slowing its flow.
        <p>

      </div>

    </div>

    <div class="govuk-grid-column-full">

      <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

      <!--
        <div class="gem-c-metadata govuk-!-margin-top-3" data-module="gem-toggle">

        <dl data-module="gem-track-click" class="govuk-body-s">
          <dt class="gem-c-metadata__term">From:</dt>
            <dd class="gem-c-metadata__definition">
              <a class="govuk-link" href="#">Department for Environment, Food and Rural Affairs</a>
            </dd>
          <dt class="gem-c-metadata__term">Published:</dt>
            <dd class="gem-c-metadata__definition">28 March 2021</dd>
          <dt class="gem-c-metadata__term">Last updated:</dt>
            <dd class="gem-c-metadata__definition">
              28 March 2021,
                <a href="#history" class="gem-c-metadata__definition-link" data-track-category="content-history" data-track-action="see-all-updates-link-clicked" data-track-label="history">
                  see all updates
                </a>
            </dd>
        </dl>

      </div>
      -->

    </div>

    <div class="govuk-grid-column-two-thirds">

      <nav class="gem-c-contents-list gem-c-contents-list--no-underline">

        <h2 id="contents" class="govuk-body govuk-!-margin-top-6 govuk-!-margin-bottom-0 govuk-!-font-size-16">
          Contents
        </h2>

        <ul class="gem-c-contents-list__list govuk-!-margin-top-1">

          <li class="gem-c-contents-list__list-item govuk__list-item--dashed">
            <a class="govuk-link" href="#what-natural-flood-management-can-do">
              What natural flood management can do
            </a>
          </li>

          <li class="gem-c-contents-list__list-item govuk__list-item--dashed">
            <a class="govuk-link" href="#multiple-benefits">
              Multiple benefits
            </a>
          </li>

          <li class="gem-c-contents-list__list-item govuk__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link" href="#make-small-changes-use-small-scale-solutions">
              Make small changes Use small scale solutions
            </a>
          </li>

          <li class="gem-c-contents-list__list-item govuk__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link" href="#work-together">
              Work together
            </a>
          </li>

          <li class="gem-c-contents-list__list-item govuk__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link" href="#take-action">
              Take action
            </a>
          </li>

        </ul>

      </nav>

      <div class="gem-c-print-link govuk-!-margin-top-9 govuk-!-margin-bottom-6">
          <button class="govuk-link gem-c-print-link__button">
            Print this page
          </button>
      </div>

      <p class="govuk-body">
        Flooding can be caused by different factors you can <a rel="external" href="https://flood-warning-information.service.gov.uk/long-term-flood-risk">check your long term flood risk</a>
      </p>

      <h2 class="govuk-heading-l" id="what-natural-flood-management-can-do">What natural flood management can do</h2>

      <p>[catchment information]</p>

      <p>You can use natural flood management to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>delay when the flood peak arrives giving you more time to prepare</li>
        <li>reduce the effect of flooding by ….</li>
      </ul>

      <p>Natural flood management provides improvements in the long term. It can provide solutions for a range of locations where hard engineering such as [walls?] are not suitable. It can also work with these [another word for hard engineering] to provide low maintenance, sustainable [word].</p>

      <p>Find out about how <a href="https://www.gov.uk/flood-and-coastal-erosion-risk-management-research-reports/working-with-natural-processes-to-reduce-flood-risk">others have used natural flood management to increase their resilience</a>.</p>

      <h2 class="govuk-heading-l" id="multiple-benefits">Multiple benefits</h2>

      <p>By working with natural processes you can also:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>increase biodiversity</li>
        <li>improve water quality</li>
        <li>improve soil health</li>
        <li>capture carbon</li>
      </ul>

      <h2 class="govuk-heading-l" id="make-small-changes-use-small-scale-solutions">Make small changes Use small scale solutions</h2>

      <p>You can contribute to capturing water and slowing its by:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>installing water butts</li>
        <li>reduce hard paving around your property</li>
        <li>install green roofs</li>
        <li>building ponds and rain gardens</li>
        <li>use leftover soil to build mounds</li>
      </ul>

      <p>Find out more about <a rel="external" href="https://slowtheflow.net/links-suds/">how to use these sustainable drainage systems</a>.</p>

      <h2 class="govuk-heading-l" id="work-together">Work together</h2>

      <p>By working together with your local communities and non-governmental organisations you can get involved in a wide range of solutions.</p>

      <p>Even if you don’t experience flooding, using natural flood management can help those who do as actions in one location can lead to significant results in another location.</p>

      <p>Work together to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>plant trees and manage woodland to……</li>
        <li>improve soil to increase water absorption</li>
        <li>restore rivers and floodplains to their natural state</li>
        <li>restore salt marshes and ….. To capture floodwater from the sea</li>
      </ul>

      <h2 class="govuk-heading-l" id="take-action">Take action</h2>

      <p>There are a number of organisations who can help you use natural flood management to reduce the risk and effect of flooding.</p>

      <p>Find out <a rel="external" href="https://catchmentbasedapproach.org/get-involved/">what is going on in your catchment</a>.</p>

      <p>Contact:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>your local council [Who??] to see if there is a flood group in your area - find out more about what <a rel="external" href="https://nationalfloodforum.org.uk/working-together/communities/what-is-a-flood-action-group/">flood action groups</a> dothey can also help you prepare flood plans.</li>
        <li>the Environment Agency to find out about your local flood resilience team who can help you prepare flood plans and provide information on local projects you can get involved in</li>
      </ul>


      <hr class="govuk-section-break govuk-section-break--s govuk-!-margin-top-9 govuk-section-break--visible">

      <div class="app-c-published-dates app-c-published-dates--history govuk-body-s govuk-!-margin-top-1" id="history">
        Published 16 September 2019
        <br>
        Last updated 31 December 2020
        <a href="#full-history" class="app-c-published-dates__toggle govuk-link" data-controls="full-history" data-expanded="false" data-toggled-text="-&nbsp;hide all updates" role="button" aria-controls="full-history" aria-expanded="false">
          +&nbsp;show all updates
        </a>

</div>


      <div class="app-c-contents-list-with-body__link-container govuk-!-margin-top-6">
        <a class="govuk-link app-c-back-to-top dont-print" href="#contents">
          <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
          </svg>Contents
        </a>
      </div>

      <div class="gem-c-print-link govuk-!-margin-top-6 govuk-!-margin-bottom-6">
          <button class="govuk-link gem-c-print-link__button">Print this page</button>
      </div>



    </div>

  </div>


{% endblock %}
