{% extends "whitehall.html" %}

{% block pageTitle %}
  Increase your resilience to flooding using natural flood management
{% endblock %}

{% block beforeContent %}
<!--
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
  -->

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      },
      {
        text: "To be decided",
        href: "#"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <div class="gem-c-title govuk-!-margin-top-0 govuk-!-margin-bottom-8">

        <span class="govuk-caption-xl gem-c-title__context">
          Guidance
        </span>

        <h1 class="govuk-heading-l">
          Use nature based solutions to reduce flooding
        </h1>

        <p class="govuk-body-l">
          Find out how the risk of flooding in your area can be reduced by using natural flood management.
        <p>

      </div>

    </div>

    <div class="govuk-grid-column-full">

        <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible govuk-!-margin-bottom-6">

        <div class="gem-c-metadata govuk-!-margin-top-3" data-module="gem-toggle">

        <dl data-module="gem-track-click" class="govuk-body-s">
          <dt class="gem-c-metadata__term">From:</dt>
            <dd class="gem-c-metadata__definition">
              <a class="govuk-link" href="#">Department for Environment, Food and Rural Affairs</a>
            </dd>
          <dt class="gem-c-metadata__term">Published:</dt>
            <dd class="gem-c-metadata__definition">28 March 2021</dd>
          <!--<dt class="gem-c-metadata__term">Last updated:</dt>
            <dd class="gem-c-metadata__definition">
              28 March 2021,
                <a href="#history" class="gem-c-metadata__definition-link" data-track-category="content-history" data-track-action="see-all-updates-link-clicked" data-track-label="history">
                  see all updates
                </a>
            </dd>-->
        </dl>

      </div>

      </div>

      <div class="govuk-grid-column-two-thirds">

      <nav class="gem-c-contents-list gem-c-contents-list--no-underline govuk-!-margin-top-9">

        <h2 id="contents" class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-0 govuk-!-font-size-16">
          Contents
        </h2>

        <ul class="gem-c-contents-list__list govuk-!-margin-top-1 govuk-!-margin-bottom-6">

          <li class="gem-c-contents-list__list-item govuk__list-item--dashed">
            <a class="govuk-link" href="#how-your-community-can-benefit">
              How your community can benefit
            </a>
          </li>

          <li class="gem-c-contents-list__list-item govuk__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link" href="#what-communities-can-do-to-reduce-flood-risk">
              What communities can do to reduce flood risk
            </a>
          </li>

          <li class="gem-c-contents-list__list-item govuk__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link" href="#sustainable-drainage-for-homes-and-business-premises">
              Sustainable drainage for homes and business premises
            </a>
          </li>

          <li class="gem-c-contents-list__list-item govuk__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link" href="#what-you-need-to-consider">
              What you need to consider
            </a>
          </li>

          <li class="gem-c-contents-list__list-item govuk__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link" href="#get-support">
              Get support
            </a>
          </li>

        </ul>

      </nav>

      <div class="gem-c-print-link govuk-!-margin-top-3 govuk-!-margin-bottom-6">
        <button class="govuk-link gem-c-print-link__button">
          Print this page
        </button>
      </div>

      <p>
        Communities can reduce flood risk by restoring natural features to the landscape such as ponds and woodland to slow the flow of rainfall into streams and rivers. On the coast these techniques can reduce the risk of flooding from waves, tidal and storm surges.
      </p>

      <p>
        Slowing and storing water upstream so that it takes longer to enter the river system can make flooding less likely in villages and towns downstream.
      </p>

      <h2 class="govuk-heading-m" id="how-your-community-can-benefit">
        How your community can benefit
      </h2>

      <p>
        Using nature based solutions can provide benefits for communities especially those who live  in flood risk areas.
      </p>

      <p>
        It can:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>delay and reduce the impact of flooding</li>
        <li>increase the range of plant and animal species</li>
        <li>improve water quality in local rivers and streams</li>
        <li>store carbon in trees and plants to help reduce global warming</li>
      </ul>

      <h2 class="govuk-heading-m" id="what-communities-can-do-to-reduce-flood-risk">
        What communities can do to reduce flood risk
      </h2>

      <p>
        Communities can use a range of approaches to naturally manage the flow of water in their local landscape.
      </p>

      <p>
        You can:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>plant trees to increase water absorption</li>
        <li>improve soil cover to reduce water pollution and run off</li>
        <li>dig ponds to divert and store water</li>
        <li>encourage natural flooding in safe areas</li>
        <li>restore salt marshes, mudflats and peat bogs</li>
        <li>build sand dunes</li>
      </ul>

      <p>
        Find out about <a class="govuk-link" href="https://www.gov.uk/flood-and-coastal-erosion-risk-management-research-reports/working-with-natural-processes-to-reduce-flood-risk">the different types of natural flood management suitable for different areas</a>.
      </p>

      <h2 class="govuk-heading-m" id="sustainable-drainage-for-homes-and-business-premises">
        Sustainable drainage for homes and business premises
      </h2>

      <p>
        Buildings and paving can increase the risk of floods. When it rains the water is not absorbed by materials such as concrete and tarmac; this can cause localised surface flooding or flow directly into drains and waterways causing flooding elsewhere.
      </p>

      <p>
        Small changes help water to drain away reducing the risk of sewer flooding during heavy rain, for example installing water butts or reducing hard paving around your property.
      </p>

      <p>
        Find out <a class="govuk-link" href="https://slowtheflow.net/links-suds/">how to use sustainable drainage</a>.
      </p>

      <h2 class="govuk-heading-m" id="what-you-need-to-consider">
        What you need to consider
      </h2>

      <p>
        Find out about <a class="govuk-link" href="https://www.gov.uk/flood-and-coastal-erosion-risk-management-research-reports/working-with-natural-processes-to-reduce-flood-risk">the types of natural flood management suitable for different areas</a>.
      </p>

      <p>
        Depending on the type of natural flood management and scale you will need to check:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>if there is land you can use</li>
        <li>if funding is available</li>
        <li><a href="https://www.gov.uk/guidance/flood-risk-activities-environmental-permits">if permits are required</a></li>
        <li>how to <a href="https://catchmentbasedapproach.org/learn/natural-flood-management-minimising-the-risk/">look after and maintain anything put in place</a></li>
      </ul>

      <p>
        Activities such as building large ponds and earth banks can require heavy earth moving equipment, expert advice and permits.
      </p>

      <h2 class="govuk-heading-m" id="get-support">
        Get support
      </h2>

      <p>
        <a class="govuk-link" href="mailto:NFM@EA">Email the natural flood management team</a> to get:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Content TBC</li>
      </ul>

      <p>
        If you cannot email you can <a class="govuk-link" href="https://www.gov.uk/government/organisations/environment-agency/about/access-and-opening">contact the Environment Agency</a>.
      </p>

      <p>
        Find <a class="govuk-link" href="https://catchmentbasedapproach.org/get-involved/">the details of local groups that can help you</a>.
      </p>

      <p>
        Find out <a class="govuk-link" href="https://www.gov.uk/government/collections/flood-risk-management-current-schemes-and-strategies">what the Environment agency is doing to reduce flood risk</a>.
      </p>

      <hr class="govuk-section-break govuk-section-break--s govuk-!-margin-top-9 govuk-section-break--visible">

      <div class="app-c-published-dates app-c-published-dates--history govuk-body-s govuk-!-margin-top-1" id="history">
        Published 16 September 2019
        <br>
        Last updated 31 December 2020
        <a href="#" class="app-c-published-dates__toggle govuk-link" data-controls="full-history" data-expanded="false" data-toggled-text="-&nbsp;hide all updates" role="button" aria-controls="full-history" aria-expanded="false">
          +&nbsp;show all updates
        </a>
      </div>


      <div class="app-c-contents-list-with-body__link-container govuk-!-margin-top-6">
        <a class="govuk-link app-c-back-to-top dont-print" href="#contents">
          <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
          </svg>Contents
        </a>
      </div>

      <div class="gem-c-print-link govuk-!-margin-top-6 govuk-!-margin-bottom-6">
          <button class="govuk-link gem-c-print-link__button">Print this page</button>
      </div>

    </div>

    <div class="govuk-grid-column-one-third">

      <div class="gem-c-contextual-sidebar">

        <!--

        <div class="gem-c-related-navigation">

          <h2 class="gem-c-related-navigation__main-heading govuk-heading-s govuk-!-margin-top-3 govuk-!-margin-bottom-3">
            Related content
          </h2>

          <nav role="navigation" class="gem-c-related-navigation__nav-section">

            <ul class="gem-c-related-navigation__link-list">
              <li class="gem-c-related-navigation__link">
                <a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--sidebar  gem-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked" data-track-action="1.1 Related content" data-track-label="/check-flood-risk" data-track-options="{&quot;dimension28&quot;:&quot;3&quot;,&quot;dimension29&quot;:&quot;Find out if you're at risk of flooding in England&quot;}" href="/check-flood-risk">
                  Find out if you're at risk of flooding in England
                </a>
              </li>
              <li class="gem-c-related-navigation__link">
                <a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--sidebar  gem-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked" data-track-action="1.2 Related content" data-track-label="/help-during-flood" data-track-options='{"dimension28":"3","dimension29":"Get help during a flood"}' href="/help-during-flood">
                  Get help during a flood
                </a>
              </li>
              <li class="gem-c-related-navigation__link">
                <a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--sidebar  gem-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked" data-track-action="1.3 Related content" data-track-label="/sign-up-for-flood-warnings" data-track-options='{"dimension28":"3","dimension29":"Sign up for flood warnings "}' href="/sign-up-for-flood-warnings">
                  Sign up for flood warnings
                </a>
              </li>
            </ul>
          </nav>

        </div>

        -->

        <a class="govuk-link gem-c-contextual-sidebar__brexit-cta govuk-!-margin-top-9" href="#">

          <h2 class="gem-c-contextual-sidebar__brexit-heading govuk-heading-s govuk-!-margin-top-2 govuk-!-margin-bottom-2 govuk-!-font-size-19">
            Brexit
          </h2>

          <ul class="govuk-list gem-c-contextual-sidebar__take-action-traffic-lights govuk-!-margin-top-0 govuk-!-margin-bottom-0">
            <li>
              <img class="gem-c-contextual-sidebar__take-action-traffic-lists-icon" alt="" src="https://www.gov.uk/assets/government-frontend/govuk_publishing_components/take-action-red-5117cea61725753ad21e17234e1d12f5605c1ab8df1eab37bd7d557d200a5006.svg">
              <span class="gem-c-contextual-sidebar__take-action-traffic-lists-text">
                Check
              </span>
            </li>
            <li>
              <img class="gem-c-contextual-sidebar__take-action-traffic-lists-icon" alt="" src="https://www.gov.uk/assets/government-frontend/govuk_publishing_components/take-action-amber-ed37d78dd940d181c13d2689c7ca16a10891d89e5d278eef21e0e0001fb5a477.svg">
              <span class="gem-c-contextual-sidebar__take-action-traffic-lists-text">
                Change
              </span>
            </li>
            <li>
              <img class="gem-c-contextual-sidebar__take-action-traffic-lists-icon" alt="" src="https://www.gov.uk/assets/government-frontend/govuk_publishing_components/take-action-green-201c5dfb37cd72eb3603b1afe36c913fecfda46ecb6221f1ed8c59708bc103e0.svg">
              <span class="gem-c-contextual-sidebar__take-action-traffic-lists-text">
                Go
              </span>
            </li>
          </ul>

          <p class="gem-c-contextual-sidebar__brexit-text govuk-body-s govuk-!-margin-top-2 govuk-!-margin-bottom-1">
            Check what you need to do
          </p>

        </a>

      </div>

    </div>

  </div>


{% endblock %}
