{% extends "layout.html" %}

{% block pageTitle %}
  How to reduce flooding in your area
{% endblock %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        prototype
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <a class="govuk-back-link" href="postcode">
    Back
  </a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Your area is the Mersey Estuary Catchment
      </h1>

      <p class="govuk-body-l">From what you have told us, your area is in the <strong>Mersey Estuary Catchment</strong> area</p>

      <p class="govuk-body">
        <a class="govuk-link" href="map">View the Mersey Estuary Catchment on a map</a>
      </p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h3 class="govuk-heading-l">The causes of flooding in your area</h3>

      <p>There are lots of different types of flooding. Water can come from lots of different sources spread over a wide area. This area is called <a class="govuk-link" href="flooding#catchments">a catchment</a>.

      <p>The main causes of flooding in your area are:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li><strong><a class="govuk-link" href="flooding#river">River flooding</a></strong> from the rivers that feed the River Mersey. Eg Sankey Brook, River Glaze, and the River Birket.</li>
        <li><strong><a class="govuk-link" href="flooding#tidal">Tidal flooding</a></strong>, especially along the Mersey Estuary and around the Wirral Peninsula</li>
        <li><strong><a class="govuk-link" href="flooding#surface">Surface Water flooding</a></strong>, especially in urban areas Eg. Liverpool, Warrington, Ashton in Makerfield and some areas of Wirral</li>
        <li><strong><a class="govuk-link" href="flooding#sewer">Sewer flooding</a></strong> can happen in all areas, but especially Hindley and Prescot</li>
      </ul>

      <p class="govuk-body">
        <a class="govuk-link" href="flooding">
          More information about flooding
        </a>
      </p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-l">How to help reduce flood risk</h2>

      <p class="govuk-body">
        There are many ways to reduce flood risk to an area. The first things people think of are often large scale, hard engineered flood walls and other river mangement schemes. These can be very effective in the right areas, but they are hugely expensive, disruptive and environmentally damaging.
      </p>
      <p class="govuk-body">
          Large scale, engineered soultions aren't suitable for every area. Even if they are in place, they may not be effective used on their own, especially as we see more rain every year. There are other, smaller scale measure that can help.
      </p>

      <h3 class="govuk-heading-m">Natural Flood Management</h3>

      <p class="govuk-body">
        Natural Flood Management (NFM), sometimes known as Working with Natural Processes or Nature Based Soultions, is a number of smaller scale techniques that enhance the effectiveness of traditional flood defence mechanisms. Their aim is to catch and slow water as it flows so that it doesn't all meet at the same time during floods.
      </p>


      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="nfm#what-is-nfm">What is Natural Flood Management?</a></li>
        <li><a class="govuk-link" href="nfm#what-can-nfm-do">What can Natural Flood Management do?</a></li>
        <li><a class="govuk-link" href="nfm#types-of-nfm">The different types of Natural Flood Management</a></li>
        <li><a class="govuk-link" href="nfm#next">Next steps: How to get NFM in the landscape</a></li>
      </ul>

      <h3 class="govuk-heading-m">Where to get more advice about NFM</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <strong>The Environment Agency</strong> - <a href="#" class="govuk-link">nfm@environment-agency.gov.uk</a>
        </li>
        <li>
          <strong>Another useful link</strong> - <a href="#" class="govuk-link">www.website.com</a>
        </li>
        <li>
          <strong>An expert that can help</strong> - <a href="#" class="govuk-link">www.website.com</a>
        </li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-l">Getting involved - working together as a community</h2>

      <p class="govuk-body">
        One of the most effectibe ways of helping in the prevention and response to flooding in your area is to be part of a group.
      </p>

      <h3 class="govuk-heading-m">Joining a flood group</h3>

      <p class="govuk-body">
        Flood groups in your catchment:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          Parkgate and Little Neston Flood Group - <a href="#" class="govuk-link">www.website.com</a>
        </li>
        <li>
          Netherley Flood Group - <a href="#" class="govuk-link">www.website.com</a>
        </li>
        <li>
          VIAPRA (Victoria Park) Residents Association - <a href="#" class="govuk-link">www.website.com</a>
        </li>
        <li>
          Thelwall and Lymm Flood Group - <a href="#" class="govuk-link">www.website.com</a>
        </li>
        <li>
          Kingsway North Flood Group - <a href="#" class="govuk-link">www.website.com</a>
        </li>
      </ul>

      <h3 class="govuk-heading-m">Starting a flood group</h3>

      <p class="govuk-body">
        If there are no flood groups in your local area you could always start one. Here is a guide to help you do this:
      </p>

      <p class="govuk-body">
        <a href="group" class="govuk-link">
          Advice on how to start a flood group
        </a>
      </p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-l">Check the flood risks in your area</h2>

      <p class="govuk-body">You can check your flood risk using these services:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-link" href="https://flood-warning-information.service.gov.uk/long-term-flood-risk">
          Check your long-term flood risk</a>
        </li>
        <li>
          <a class="govuk-link" href="https://flood-warning-information.service.gov.uk/warnings">
            Check your flood risk warnings
          </a>
        </li>
        <li>
          <a class="govuk-link" href="https://flood-warning-information.service.gov.uk/5-day-flood-risk">
            Check your flood risk for the next 5 days
          </a>
        </li>

      </ul>



    </div>

    <div class="govuk-grid-column-one-third">

        <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

        <aside class="app-related-items" role="complementary">

          <h2 class="govuk-heading-m" id="subsection-title">
            Related content
          </h2>

          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16">
              <li>
                <a class="govuk-link" href="flooding">
                  The different types of flooding
                </a>
              </li>
              <li>
                <a class="govuk-link" href="nfm">
                  Natural Flood Management
                </a>
              </li>
              <li>
                <a class="govuk-link" href="https://flood-warning-information.service.gov.uk/long-term-flood-risk">
                Check your long-term flood risk</a>
              </li>
              <li>
                <a class="govuk-link" href="https://flood-warning-information.service.gov.uk/warnings">
                  Check your flood risk warnings
                </a>
              </li>
              <li>
                <a class="govuk-link" href="https://flood-warning-information.service.gov.uk/5-day-flood-risk">
                  Check your flood risk for the next 5 days
                </a>
              </li>
            </ul>
          </nav>
        </aside>

      </div>

  </div>


{% endblock %}
