{% extends "layout.html" %}

{% block pageTitle %}
  How to reduce flooding in your area
{% endblock %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        prototype
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <a class="govuk-back-link" href="area">
    Back
  </a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        How to start a flood group
      </h1>

      <p class="govuk-body">
        Forming a flood group for your community is one of the most effective ways to help prevent, react and become resilient to flooding in your area.
      </p>

      <div class="govuk-inset-text">
        <p class="govuk-body">
          This guide is intended to be used by memebers of the public who are interested in helping their community
        </p>
      </div>

    </div>

  </div>


  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l" id="create">
        Step 1: Of how to start a flood group
      </h2>

      <p class="govuk-body">
        Some information about starting a flood group. What they can do. What you need to do. How to get going. Who to speak to.
      </p>

      <h3 class="govuk-heading-m">
        What you need to get started
      </h3>

      <p class="govuk-body">
        Some information about starting a flood group. What they can do. What you need to do. How to get going. Who to speak to. Some information about starting a flood group. What they can do. What you need to do. How to get going. Who to speak to. Some information about starting a flood group. What they can do. What you need to do. How to get going. Who to speak to. Some information about starting a flood group. What they can do. What you need to do. How to get going. Who to speak to.
      </p>

      <p class="govuk-body">
        Some information about starting a flood group. What they can do. What you need to do. How to get going. Who to speak to.
      </p>

    </div>

    <div class="govuk-grid-column-one-third">
      <div class="summary">
        <div class="summary-box">
          <h2 class="govuk-heading-m">
            Summary
          </h2>
          <ul class="govuk-list govuk-list--bullet govuk-body-s">
            <li>
              A block that provides
            </li>
            <li>
              A glancable summary
            </li>
            <li>
              Of the information covered in this section
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l" id="create">
        Step 2: Of how to start a flood group
      </h2>

      <p class="govuk-body">
        Some information about starting a flood group. What they can do. What you need to do. How to get going. Who to speak to.
      </p>

      <h3 class="govuk-heading-m">
        What you need to get started
      </h3>

      <p class="govuk-body">
        Some information about starting a flood group. What they can do. What you need to do. How to get going. Who to speak to. Some information about starting a flood group. What they can do. What you need to do. How to get going. Who to speak to. Some information about starting a flood group. What they can do. What you need to do. How to get going. Who to speak to. Some information about starting a flood group. What they can do. What you need to do. How to get going. Who to speak to.
      </p>

      <p class="govuk-body">
        Some information about starting a flood group. What they can do. What you need to do. How to get going. Who to speak to.
      </p>

    </div>

    <div class="govuk-grid-column-one-third">
      <div class="summary">
        <div class="summary-box">
          <h2 class="govuk-heading-m">
            Summary
          </h2>
          <ul class="govuk-list govuk-list--bullet govuk-body-s">
            <li>
              A block that provides
            </li>
            <li>
              A glancable summary
            </li>
            <li>
              Of the information covered in this section
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l" id="create">
        Step 3: Of how to start a flood group
      </h2>

      <p class="govuk-body">
        Some information about starting a flood group. What they can do. What you need to do. How to get going. Who to speak to.
      </p>

      <h3 class="govuk-heading-m">
        What you need to get started
      </h3>

      <p class="govuk-body">
        Some information about starting a flood group. What they can do. What you need to do. How to get going. Who to speak to. Some information about starting a flood group. What they can do. What you need to do. How to get going. Who to speak to. Some information about starting a flood group. What they can do. What you need to do. How to get going. Who to speak to. Some information about starting a flood group. What they can do. What you need to do. How to get going. Who to speak to.
      </p>

      <p class="govuk-body">
        Some information about starting a flood group. What they can do. What you need to do. How to get going. Who to speak to.
      </p>

    </div>

    <div class="govuk-grid-column-one-third">
      <div class="summary">
        <div class="summary-box">
          <h2 class="govuk-heading-m">
            Summary
          </h2>
          <ul class="govuk-list govuk-list--bullet govuk-body-s">
            <li>
              A block that provides
            </li>
            <li>
              A glancable summary
            </li>
            <li>
              Of the information covered in this section
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>






{% endblock %}
