{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "start_v1"
      },
      {
        text: "Your area",
        href: "area"
      },
      {
        text: "All about flooding",
        href: "#"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">All about flooding</h1>

      <h2 class="govuk-heading-l">
        Why floods happen
      </h2>

      <p class="govuk-body">
        Some copy about the type of flooding. Why they happen. When they happen. What they do. Etc etc etc
      </p>

      <h2 class="govuk-heading-l">
        The different types of flooding
      </h2>

      <h3 class="govuk-heading-m" id="river">
        River flooding
      </h3>

      <p class="govuk-body">
        Some copy about the type of flooding. Why they happen. When they happen. What they do. Etc etc etc
      </p>

      <h3 class="govuk-heading-m" id="tidal">
        Tidal flooding
      </h3>

      <p class="govuk-body">
        Some copy about the type of flooding. Why they happen. When they happen. What they do. Etc etc etc
      </p>

      <h3 class="govuk-heading-m" id="surface">
        Surface Water flooding
      </h3>

      <p class="govuk-body">
        Some copy about the type of flooding. Why they happen. When they happen. What they do. Etc etc etc
      </p>

      <h3 class="govuk-heading-m"  id="sewer">
        Sewer Water flooding
      </h3>

      <p class="govuk-body">
        Some copy about the type of flooding. Why they happen. When they happen. What they do. Etc etc etc
      </p>



    </div>

    <div class="govuk-grid-column-one-third">

        <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

        <aside class="app-related-items" role="complementary">

          <h2 class="govuk-heading-m" id="subsection-title">
            In this section
          </h2>

          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16">
              <li>
                <a class="govuk-link" href="flooding">
                  The different types of flooding
                </a>
              </li>
              <li>
                <a class="govuk-link" href="nfm">
                  Natural Flood Management
                </a>
              </li>
            </ul>
          </nav>
        </aside>

      </div>

  </div>


{% endblock %}
