{% extends "whitehall.html" %}

{% block pageTitle %}
  Increase your resilience to flooding using natural flood management
{% endblock %}

{% block beforeContent %}
<!--
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
  -->

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      },
      {
        text: "To be decided",
        href: "#"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <div class="gem-c-title govuk-!-margin-top-0 govuk-!-margin-bottom-8">

        <span class="govuk-caption-xl gem-c-title__context">
          Guidance
        </span>

        <h1 class="govuk-heading-l">
          Use nature based solutions to reduce flooding in your area
        </h1>

        <p class="govuk-body-l">
          How to get funding and advice for using nature based solutions to reduce flooding in your area.
        <p>

      </div>

    </div>

    <div class="govuk-grid-column-full">

        <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible govuk-!-margin-bottom-3">

        <div class="gem-c-metadata govuk-!-margin-top-3" data-module="gem-toggle">

          <dl data-module="gem-track-click" class="govuk-body-s">
            <dt class="gem-c-metadata__term">From:</dt>
              <dd class="gem-c-metadata__definition">
                <a class="govuk-link" href="#">Department for Environment, Food and Rural Affairs</a>
              </dd>
            <dt class="gem-c-metadata__term">Published:</dt>
              <dd class="gem-c-metadata__definition">23 June 2021</dd>
            <!--<dt class="gem-c-metadata__term">Last updated:</dt>
              <dd class="gem-c-metadata__definition">
                28 March 2021,
                  <a href="#history" class="gem-c-metadata__definition-link" data-track-category="content-history" data-track-action="see-all-updates-link-clicked" data-track-label="history">
                    see all updates
                  </a>
              </dd>-->
          </dl>

        </div>

        <div class="govuk-!-margin-top-5 app-c-important-metadata app-c-important-metadata--bottom-margin govuk-grid-column-two-thirds govuk-body">
          <dl data-module="gem-track-click">
            <dt class="app-c-important-metadata__term">Applies to: </dt>
            <dd class="app-c-important-metadata__definition">England (see guidance for <a class="govuk-link app-link" href="https://naturalresources.wales/?lang=en">Wales</a>, <a class="govuk-link app-link" href="https://www.sepa.org.uk/environment/water/flooding/">Scotland</a>, and <a class="govuk-link app-link" href="https://www.nidirect.gov.uk/articles/check-the-risk-of-flooding-in-your-area">Northern Ireland</a>)</dd>
          </dl>
        </div>

      </div>

      <div class="govuk-grid-column-two-thirds">

      <nav class="gem-c-contents-list gem-c-contents-list--no-underline govuk-!-margin-top-7">

        <h2 id="contents" class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-0 govuk-!-font-size-16">
          Contents
        </h2>

        <ul class="gem-c-contents-list__list govuk-!-margin-top-1 govuk-!-margin-bottom-6">

          <li class="gem-c-contents-list__list-item govuk__list-item--dashed">
            <a class="govuk-link" href="#benefits-of-nature-based-solutions">
              Benefits of nature based solutions
            </a>
          </li>

          <li class="gem-c-contents-list__list-item govuk__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link" href="#get-involved">
              Get involved
            </a>
          </li>

          <li class="gem-c-contents-list__list-item govuk__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link" href="#find-solutions">
              Find solutions
            </a>
          </li>

          <li class="gem-c-contents-list__list-item govuk__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link" href="#getting-approval">
              Getting approval
            </a>
          </li>

          <li class="gem-c-contents-list__list-item govuk__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link" href="#maintaining-your-solution">
              Maintaining your solution
            </a>
          </li>

          <li class="gem-c-contents-list__list-item govuk__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link" href="#funding">
              Funding
            </a>
          </li>

          <li class="gem-c-contents-list__list-item govuk__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link" href="#contact">
              Support
            </a>
          </li>

        </ul>

      </nav>

      <div class="gem-c-print-link govuk-!-margin-top-3 govuk-!-margin-bottom-6">
        <button class="govuk-link gem-c-print-link__button">
          Print this page
        </button>
      </div>

      <!-- Start of the content -->

      <p>Nature based solutions for flood risk  slow the flow of water through the landscape, this gives flood affected communities more time to prepare and reduces peak water levels of rivers and streams.</p>

      <p>Solutions can include planting trees and hedges or creating areas to divert and store water.
      Anyone can get involved in using nature based solutions. You may need to seek expert advice, permission and consent depending on the location and type of solution needed.
      Funding from a number of sources is available to carry out work.</p>

      <p><a rel="external" href="https://www.gov.uk/government/publications/national-flood-and-coastal-erosion-risk-management-strategy-for-england--2" class="govuk-link">England’s new Flood and Coastal Erosion risk management strategy</a> identifies nature based solutions as an important part of managing and reducing the impact of floods and coastal erosion.</p>

      <h2 class="govuk-heading-m" id="benefits-of-nature-based-solutions">
        Benefits of nature based solutions
      </h2>

      <p>
        Nature based solutions help communities to be more resilient to the effects of climate change, including flooding.
      </p>

      <p>
        Evidence shows nature based solutions can be effective for regular, low level flooding in smaller catchments (the area of land that drains into a particular river or stream).
      </p>

      <p>
        You can use them to slow the flow of rainfall through the landscape into and along streams and rivers. On the coast techniques such as restoring salt marshes can reduce the risk of flooding from waves, tidal and storm surges.
      </p>

      <p>
        Nature based solutions include:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          planting trees and hedges to increase water absorption, intercept rainfall and slow surface water run-off
        </li>
        <li>
          improving soil cover with plants to reduce water pollution and run off
        </li>
        <li>
          diverting high flows and create areas to store water
        </li>
        <li>
          leaky barriers to slow flows in streams and ditches
        </li>
        <li>
          restoring salt marshes, mudflats and peat bogs
        </li>
      </ul>

      <p>
        These  can be effective on their own or used alongside engineered solutions as part of a whole catchment approach to reduce flood risk for vulnerable communities at risk from regular flooding.
      </p>

      <p>
        They have many positive environmental benefits, in addition to reducing flood risk they:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          increase the variety of wildlife in river by restoring natural habitats
        </li>
        <li>
          improve water quality in rivers and streams by reducing soil erosion
        </li>
        <li>
          store carbon to help reduce global heating
        </li>
      </ul>

      <h2 class="govuk-heading-m" id="get-involved">
        Get involved
      </h2>

      <p>
        There are a number of ways to get involved.
      </p>

      <p>
        You can:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          support or join your <a rel="external" href="https://nationalfloodforum.org.uk/" class="govuk-link">local flood action group</a>
        </li>
        <li>
          use <a rel="external" href="https://www.susdrain.org/" class="govuk-link">sustainable drainage reducing water runoff from properties</a>
        </li>
        <li>
          make contributions to projects through <a rel="external" href="https://www.gov.uk/guidance/partnership-funding" class="govuk-link">partnership funding</a>
        </li>
        <li>
          find out if there are activities in your local area by
          <ul>
            <li>
              viewing a <a rel="external" href="http://naturalprocesses.jbahosting.com/Map" class="govuk-link">map of working with natural processes projects</a>
            </li>
            <li>
              <a rel="external" href="https://catchmentbasedapproach.org/get-involved/" class="govuk-link">finding your local catchment partnership</a>
            </li>
          </ul>
        </li>
      </ul>

      <p>
        Volunteering to carry out nature based projects brings communities closer together, has benefits for wellbeing and improves attractiveness of the local landscape.
      </p>

      <p>
        You can find out <a rel="external" href="https://www.gov.uk/government/collections/flood-risk-management-current-schemes-and-strategies" class="govuk-link">what the Environment Agency is doing to reduce the risk of flooding</a>.
      </p>

      <h2 class="govuk-heading-m" id="find-solutions">
        Find solutions
      </h2>

      <p>
        Not all solutions are appropriate for all areas, to understand what will be most effective in your area you should discuss ideas with those responsible for managing local flood risk](https://www.local.gov.uk/topics/severe-weather/flooding/local-flood-risk-management/managing-flood-risk-roles-and)
      </p>

      <p>
        You can contact:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          the <a href="https://draft-origin.integration.publishing.service.gov.uk/guidance/use-nature-based-solutions-to-reduce-flooding-in-your-area#contact" class="govuk-link">Environment Agency</a>
        </li>
        <li>
          your <a rel="external" href="https://www.gov.uk/find-local-council" class="govuk-link">local authority</a>
        </li>
        <li>
          your <a rel="external" href="https://flood-warning-information.service.gov.uk/long-term-flood-risk" class="govuk-link">lead local flood authority</a>
        </li>
      </ul>

      <p>
        More informal advice may be available through:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a rel="external" href="https://catchmentbasedapproach.org/get-involved/" class="govuk-link">your local catchment partnership</a>
        </li>
        <li>
          <a rel="external" href="https://nationalfloodforum.org.uk/" class="govuk-link">local flood action groups</a>
        </li>
        <li>
          <a rel="external" href="https://canalrivertrust.org.uk/" class="govuk-link">the canal and river trust</a>
        </li>
        <li>
          charities and local conservation organisations
        </li>
      </ul>

      <p>
        Find out more about the different solutions in the <a rel="external" href="https://www.gov.uk/flood-and-coastal-erosion-risk-management-research-reports/working-with-natural-processes-to-reduce-flood-risk" class="govuk-link">working with natural processes evidence directory</a>.
      </p>

      <h2 class="govuk-heading-m" id="getting-approval">
        Getting approval
      </h2>

      <p>
        You will need permission from the owner of any land where you do any work.
      </p>

      <p>
        To work in any stream or ditch you are likely to require consent from your lead local flood authority. You can find out who this is through the <a rel="external" href="https://flood-warning-information.service.gov.uk/long-term-flood-risk" class="govuk-link">check your long term flood risk service</a>.
      </p>

      <p>
        You should also check if you need:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a rel="external" href="https://www.gov.uk/guidance/flood-risk-activities-environmental-permits" class="govuk-link">an environmental permit</a>
        </li>
        <li>
          a <a rel="external" href="https://www.gov.uk/guidance/tree-felling-licence-when-you-need-to-apply" class="govuk-link">license for felling trees</a>
        </li>
        <li>
          <a rel="external" href="https://www.gov.uk/planning-permission-england-wales" class="govuk-link">Planning permission</a>
        </li>
        <li>
          to do an <a rel="external" href="https://www.gov.uk/guidance/environmental-impact-assessments-for-woodland-overview" class="govuk-link">environment impact assessment</a> for woodland projects
        </li>
      </ul>

      <h2 class="govuk-heading-m" id="maintaining-your-solution">
        Maintaining your solution
      </h2>

      <p>
        Once you’ve used any nature based solutions you’ll have to follow the rules on any licences and consents that you have. This may include maintenance of any structures you have built.
      </p>

      <p>
        It’s good practice to inspect how any work or structures are performing in the landscape, so that you can take action to avoid them deteriorating or causing damage to property.
      </p>

      <p>
        You can find out more about <a rel="external" href="https://catchmentbasedapproach.org/learn/natural-flood-management-minimising-the-risk/" class="govuk-link">legal, financial and reputational risks that you should think about</a>.
      </p>

      <h2 class="govuk-heading-m" id="funding">
        Funding
      </h2>

      <p>
        You may be able to apply for funding from a number of sources to carry out work.
      </p>

      <p>
        There is specific funding available for risk management authorities and landowners, there are also some more general sources of funding.
      </p>

      <h3 class="govuk-heading-s" id="flood-risk-management-authorities">
        Flood risk management authorities
      </h3>

      <p>
        As a flood risk management authority you can apply for <a rel="external" href="https://www.gov.uk/government/publications/capital-grants-for-local-authorities-and-internal-drainage-boards" class="govuk-link">grant in aid</a>.
      </p>

      <h3 class="govuk-heading-s" id="landowners">
        Landowners
      </h3>

      <p>
        As a landowner you can also apply directly for:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a rel="external" href="https://www.gov.uk/guidance/create-woodland-overview" class="govuk-link">woodland grants</a> to  use land for tree planting
        </li>
        <li>
          <a rel="external" href="https://www.gov.uk/government/collections/countryside-stewardship-get-paid-for-environmental-land-management" class="govuk-link">Countryside Stewardship scheme</a> for financial incentives to look after and improve the environment You can get free training, advice and support for grant applications to reduce water and air pollution from agriculture through <a rel="external" href="https://www.gov.uk/guidance/catchment-sensitive-farming-reduce-agricultural-water pollution" class="govuk-link">Catchment Sensitive Farming</a>.
        </li>
      </ul>

      <div role="note" aria-label="Information" class="application-notice info-notice">
        <p>
          Keep up to date with <a href="https://www.gov.uk/government/publications/environmental-land-management-schemes-overview" class="govuk-link">Environmental land management schemes</a>.
        </p>
      </div>

      <h3 class="govuk-heading-s" id="general-sources-of-funding">
        General sources of funding
      </h3>

      <p>
        Source of funding may include:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          charities and local conservation organisations
        </li>
        <li>
          support from local businesses
        </li>
        <li>
          local authorities
        </li>
      </ul>

      <h2 class="govuk-heading-m" id="contact">
        Support
      </h2>

      <p>
        Contact the <a href="mailto:%20nfm@environment-agency.gov.uk" class="govuk-link">natural flood management team</a> or the Environment Agency to get support in your local area and discuss plans for reducing your flood risk.
      </p>

      <p>
        Your lead local flood authority may be able to provide you with more information on how to manage flooding in your area. You can find out who this is by <a rel="external" href="https://flood-warning-information.service.gov.uk/long-term-flood-risk" class="govuk-link">checking your long term flood risk</a>.
      </p>

      <p>
        If you’re a local authority or flood risk management authority contact the <a rel="external" href="https://www.gov.uk/government/organisations/environment-agency/about/access-and-opening" class="govuk-link">Environment Agency</a> for more information on how you can consider nature based solutions as part of the solution for capital and maintenance work to reduce flood risk and improve environmental impact.
      </p>

      <p>
        Find <a rel="external" href="https://www.gov.uk/flood-and-coastal-erosion-risk-management-research-reports/working-with-natural-processes-to-reduce-flood-risk" class="govuk-link">research that has been carried out about nature based solutions</a>.
      </p>


      <!-- End of the content -->

      <hr class="govuk-section-break govuk-section-break--s govuk-!-margin-top-9 govuk-section-break--visible">

      <!--<div class="app-c-published-dates app-c-published-dates--history govuk-body-s govuk-!-margin-top-1" id="history">
        Published 16 September 2019
        <br>
        Last updated 31 December 2020
        <a href="#" class="app-c-published-dates__toggle govuk-link" data-controls="full-history" data-expanded="false" data-toggled-text="-&nbsp;hide all updates" role="button" aria-controls="full-history" aria-expanded="false">
          +&nbsp;show all updates
        </a>
      </div>-->


      <div class="app-c-contents-list-with-body__link-container govuk-!-margin-top-6">
        <a class="govuk-link app-c-back-to-top dont-print" href="#contents">
          <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
          </svg>Contents
        </a>
      </div>

      <div class="gem-c-print-link govuk-!-margin-top-6 govuk-!-margin-bottom-6">
          <button class="govuk-link gem-c-print-link__button">Print this page</button>
      </div>

    </div>

    <div class="govuk-grid-column-one-third">

      <div class="gem-c-contextual-sidebar">

        <!--

        <div class="gem-c-related-navigation">

          <h2 class="gem-c-related-navigation__main-heading govuk-heading-s govuk-!-margin-top-3 govuk-!-margin-bottom-3">
            Related content
          </h2>

          <nav role="navigation" class="gem-c-related-navigation__nav-section">

            <ul class="gem-c-related-navigation__link-list">
              <li class="gem-c-related-navigation__link">
                <a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--sidebar  gem-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked" data-track-action="1.1 Related content" data-track-label="/check-flood-risk" data-track-options="{&quot;dimension28&quot;:&quot;3&quot;,&quot;dimension29&quot;:&quot;Find out if you're at risk of flooding in England&quot;}" href="/check-flood-risk">
                  Find out if you're at risk of flooding in England
                </a>
              </li>
              <li class="gem-c-related-navigation__link">
                <a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--sidebar  gem-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked" data-track-action="1.2 Related content" data-track-label="/help-during-flood" data-track-options='{"dimension28":"3","dimension29":"Get help during a flood"}' href="/help-during-flood">
                  Get help during a flood
                </a>
              </li>
              <li class="gem-c-related-navigation__link">
                <a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--sidebar  gem-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked" data-track-action="1.3 Related content" data-track-label="/sign-up-for-flood-warnings" data-track-options='{"dimension28":"3","dimension29":"Sign up for flood warnings "}' href="/sign-up-for-flood-warnings">
                  Sign up for flood warnings
                </a>
              </li>
            </ul>
          </nav>

        </div>

        -->

        <a class="govuk-link gem-c-contextual-sidebar__brexit-cta govuk-!-margin-top-9" href="#">

          <h2 class="gem-c-contextual-sidebar__brexit-heading govuk-heading-s govuk-!-margin-top-2 govuk-!-margin-bottom-2 govuk-!-font-size-19">
            Brexit
          </h2>

          <ul class="govuk-list gem-c-contextual-sidebar__take-action-traffic-lights govuk-!-margin-top-0 govuk-!-margin-bottom-0">
            <li>
              <img class="gem-c-contextual-sidebar__take-action-traffic-lists-icon" alt="" src="https://www.gov.uk/assets/government-frontend/govuk_publishing_components/take-action-red-5117cea61725753ad21e17234e1d12f5605c1ab8df1eab37bd7d557d200a5006.svg">
              <span class="gem-c-contextual-sidebar__take-action-traffic-lists-text">
                Check
              </span>
            </li>
            <li>
              <img class="gem-c-contextual-sidebar__take-action-traffic-lists-icon" alt="" src="https://www.gov.uk/assets/government-frontend/govuk_publishing_components/take-action-amber-ed37d78dd940d181c13d2689c7ca16a10891d89e5d278eef21e0e0001fb5a477.svg">
              <span class="gem-c-contextual-sidebar__take-action-traffic-lists-text">
                Change
              </span>
            </li>
            <li>
              <img class="gem-c-contextual-sidebar__take-action-traffic-lists-icon" alt="" src="https://www.gov.uk/assets/government-frontend/govuk_publishing_components/take-action-green-201c5dfb37cd72eb3603b1afe36c913fecfda46ecb6221f1ed8c59708bc103e0.svg">
              <span class="gem-c-contextual-sidebar__take-action-traffic-lists-text">
                Go
              </span>
            </li>
          </ul>

          <p class="gem-c-contextual-sidebar__brexit-text govuk-body-s govuk-!-margin-top-2 govuk-!-margin-bottom-1">
            Check what you need to do
          </p>

        </a>

      </div>

    </div>

  </div>


{% endblock %}
