{% extends "mainstream.html" %}

{% block pageTitle %}
  Prepare for flooding: Protect yourself from future flooding
{% endblock %}

{% block beforeContent %}
<!--
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
  -->

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      },
      {
        text: "Environment and countryside",
        href: "#"
      },
      {
        text: "Extreme weather and floods",
        href: "#"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <div class="gem-c-title govuk-!-margin-top-0 govuk-!-margin-bottom-0">

        <!--
        <span class="govuk-caption-xl gem-c-title__context">
          Guidance
        </span>
        -->

        <h1 class="govuk-heading-xl">
          Prepare for flooding
        </h1>

      </div>

      <!--
        <div class="gem-c-metadata govuk-!-margin-top-3" data-module="gem-toggle">

        <dl data-module="gem-track-click" class="govuk-body-s">
          <dt class="gem-c-metadata__term">From:</dt>
            <dd class="gem-c-metadata__definition">
              <a class="govuk-link" href="#">Department for Environment, Food and Rural Affairs</a>
            </dd>
          <dt class="gem-c-metadata__term">Published:</dt>
            <dd class="gem-c-metadata__definition">28 March 2021</dd>
          <dt class="gem-c-metadata__term">Last updated:</dt>
            <dd class="gem-c-metadata__definition">
              28 March 2021,
                <a href="#history" class="gem-c-metadata__definition-link" data-track-category="content-history" data-track-action="see-all-updates-link-clicked" data-track-label="history">
                  see all updates
                </a>
            </dd>
        </dl>

      </div>
      -->

      <nav class="gem-c-contents-list gem-c-contents-list--no-underline govuk-!-margin-bottom-6">

        <h2 id="contents" class="gem-c-contents-list__title govuk-body govuk-!-font-size-16">
          Contents
        </h2>

        <ul class="gem-c-contents-list__list govuk-!-margin-top-1">

          <li class="govuk-body-s govuk-!-margin-bottom-0 gem-c-contents-list__list-item govuk__list-item--dashed">
              If you’re about to be flooded
          </li>

          <li class="govuk-body-s gem-c-contents-list__list-item govuk__list-item--dashed govuk-!-margin-bottom-0">
            Protect yourself from future flooding
          </li>

          <!-- <li class="govuk-body-s gem-c-contents-list__list-item govuk__list-item--dashed govuk-!-margin-bottom-0">
            <a class="govuk-link" href="reduce">
              Reduce the risk of flooding in your area
            </a>
          </li> -->

          <li class="govuk-body-s govuk-!-margin-bottom-0 gem-c-contents-list__list-item govuk__list-item--dashed">
              If you’re about to be flooded
          </li>


        </ul>

      </nav>

      <!--
        <div class="gem-c-print-link govuk-!-margin-top-9 govuk-!-margin-bottom-6">
          <button class="govuk-link gem-c-print-link__button">
            Print this page
          </button>
        </div>
      -->

    </div>

    <div class="govuk-grid-column-two-thirds">

      <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible govuk-!-margin-bottom-6">

      <h2 class="govuk-heading-l">
        Protect yourself from future flooding
      </h2>

      <p>Plan how you’ll respond to a flood. Use a template to make a:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/government/publications/personal-flood-plan">personal flood plan</a></li>
        <li>
          <a href="/government/publications/flood-plan-guidance-for-communities-and-groups">community or group flood plan</a> - if you’re responsible for an organisation such as a school, hospital, care home or community group</li>
        <li><a href="/government/publications/preparing-your-business-for-flooding">business flood plan</a></li>
      </ul>

      <p class="govuk-body">
        You can <a class="govuk-link" href="live">work with natural processes to capture water and slow its flow to allow more time to prepare and reduce the peak water levels</a>.
      <p>

      <h2 class="govuk-heading-m" id="protect-your-property">
        Protect your property
      </h2>

      <p>You can:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a rel="external" href="https://nationalfloodforum.org.uk/about-flooding/reducing-your-risk/property-protection-advisor/">get advice from the National Flood Forum</a> about how to protect your property and how much this will cost</li>
        <li>
          <a rel="external" href="http://bluepages.org.uk/protecting-my-property/">find flood protection products and services</a> at Blue Pages
        </li>
      </ul>

      <p>You may need <a href="/permission-work-on-river-flood-sea-defence">permission to do work</a> that will affect the flow of a river or divert flood water.</p>

      <!-- <h2 class="govuk-heading-m" id="reduce-your-risk-of-flooding">
        Reduce your risk of flooding
      </h2>

      <p>
        You can:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="whp">work with natural processes</a> to capture water and slow its flow to allow more time to prepare and reduce the impact of flooding</li>
        <li><a class="govuk-link" href="https://slowtheflow.net/you-can-slow-the-flow-general-principles/">find sustainable drainage solutions</a> to allow water to drain away reducing the risk of sewer flooding during heavy rain</li>
      </ul> -->

      <h2 class="govuk-heading-m" id="if-you-own-a-riverside-property">
        If you own a riverside property
      </h2>

      <p>
        If you own property next to a watercourse, for example a river, culvert, brook or mill stream, you must:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>maintain river beds and banks</li>
        <li>not obstruct the water flow</li>
      </ul>

      <p>
        Read guidance on the <a href="/government/publications/riverside-ownership-rights-and-responsibilities">rights and responsibilities of owning a riverside property</a>.
      </p>

      <p>
        Contact the Environment Agency if you have questions about your responsibilities.
      </p>

      <div class="contact">
        <p>
          <strong>Environment Agency</strong><br>
          <a href="mailto:enquiries@environment-agency.gov.uk">enquiries@environment-agency.gov.uk</a><br>
          Telephone: 03708 506 506<br>
          Monday to Friday, 8am to 6pm<br>
          <a href="/call-charges">Find out about call charges</a>
        </p>
      </div>

      <h3 class="govuk-heading-s" id="if-your-propertys-next-to-a-canal">
        If your property’s next to a canal
      </h3>

      <p>
        <a rel="external" href="https://canalrivertrust.org.uk/contact-us/contacting-your-local-office">Contact the Canal and River Trust</a> to check who’s responsible for maintaining the canal.
      </p>

      <h2 class="govuk-heading-m" id="if-you-have-a-disability-or-need-extra-help">
        If you have a disability or need extra help
      </h2>

      <p>
        Ask <a href="/find-your-local-council">your council</a> if you can be put on a list to get extra help during a flood.
      </p>

      <p>
        Citizens Advice can help make sure you’ll <a rel="external" href="https://www.citizensadvice.org.uk/consumer/energy/energy-supply/get-help-paying-your-bills/priority-services-register-for-older-and-disabled-people/">get support if your energy supply is affected</a>.
      </p>

      <p>
        Ask Floodline to send flood warnings to a friend or relative on your behalf.
      </p>

      <div class="contact">
        <p><strong>Floodline</strong>  <br>
        Telephone: 0345 988 1188  <br>
        24-hour service  <br>
        <a href="/call-charges">Find out about call charges</a></p>
      </div>


      <hr class="govuk-section-break govuk-section-break--s govuk-!-margin-top-9 govuk-section-break--visible">

      <!-- <div class="app-c-published-dates app-c-published-dates--history govuk-body-s govuk-!-margin-top-1" id="history">
        Published 16 September 2019
        <br>
        Last updated 31 December 2020
        <a href="#full-history" class="app-c-published-dates__toggle govuk-link" data-controls="full-history" data-expanded="false" data-toggled-text="-&nbsp;hide all updates" role="button" aria-controls="full-history" aria-expanded="false">
          +&nbsp;show all updates
        </a>
      </div> -->


      <div class="app-c-contents-list-with-body__link-container govuk-!-margin-top-6">
        <a class="govuk-link app-c-back-to-top dont-print" href="#contents">
          <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
          </svg>Contents
        </a>
      </div>

      <div class="gem-c-print-link govuk-!-margin-top-6 govuk-!-margin-bottom-6">
          <button class="govuk-link gem-c-print-link__button">
            Print this page
          </button>
      </div>

    </div>

    <div class="govuk-grid-column-one-third">

      <div class="gem-c-contextual-sidebar">

        <div class="gem-c-related-navigation">

          <h2 class="gem-c-related-navigation__main-heading govuk-heading-s govuk-!-margin-top-3 govuk-!-margin-bottom-3">
            Related content
          </h2>

          <nav role="navigation" class="gem-c-related-navigation__nav-section">

            <ul class="gem-c-related-navigation__link-list">
              <li class="gem-c-related-navigation__link">
                <a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--sidebar  gem-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked" data-track-action="1.1 Related content" data-track-label="/check-flood-risk" data-track-options="{&quot;dimension28&quot;:&quot;3&quot;,&quot;dimension29&quot;:&quot;Find out if you're at risk of flooding in England&quot;}" href="/check-flood-risk">
                  Find out if you're at risk of flooding in England
                </a>
              </li>
              <li class="gem-c-related-navigation__link">
                <a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--sidebar  gem-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked" data-track-action="1.2 Related content" data-track-label="/help-during-flood" data-track-options='{"dimension28":"3","dimension29":"Get help during a flood"}' href="/help-during-flood">
                  Get help during a flood
                </a>
              </li>
              <li class="gem-c-related-navigation__link">
                <a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--sidebar  gem-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked" data-track-action="1.3 Related content" data-track-label="/sign-up-for-flood-warnings" data-track-options='{"dimension28":"3","dimension29":"Sign up for flood warnings "}' href="/sign-up-for-flood-warnings">
                  Sign up for flood warnings
                </a>
              </li>
            </ul>
          </nav>

        </div>

        <a class="govuk-link gem-c-contextual-sidebar__brexit-cta govuk-!-margin-top-7" href="#">

          <h2 class="gem-c-contextual-sidebar__brexit-heading govuk-heading-s govuk-!-margin-top-2 govuk-!-margin-bottom-2 govuk-!-font-size-19">
            Brexit
          </h2>

          <ul class="govuk-list gem-c-contextual-sidebar__take-action-traffic-lights govuk-!-margin-top-0 govuk-!-margin-bottom-0">
            <li>
              <img class="gem-c-contextual-sidebar__take-action-traffic-lists-icon" alt="" src="https://www.gov.uk/assets/government-frontend/govuk_publishing_components/take-action-red-5117cea61725753ad21e17234e1d12f5605c1ab8df1eab37bd7d557d200a5006.svg">
              <span class="gem-c-contextual-sidebar__take-action-traffic-lists-text">
                Check
              </span>
            </li>
            <li>
              <img class="gem-c-contextual-sidebar__take-action-traffic-lists-icon" alt="" src="https://www.gov.uk/assets/government-frontend/govuk_publishing_components/take-action-amber-ed37d78dd940d181c13d2689c7ca16a10891d89e5d278eef21e0e0001fb5a477.svg">
              <span class="gem-c-contextual-sidebar__take-action-traffic-lists-text">
                Change
              </span>
            </li>
            <li>
              <img class="gem-c-contextual-sidebar__take-action-traffic-lists-icon" alt="" src="https://www.gov.uk/assets/government-frontend/govuk_publishing_components/take-action-green-201c5dfb37cd72eb3603b1afe36c913fecfda46ecb6221f1ed8c59708bc103e0.svg">
              <span class="gem-c-contextual-sidebar__take-action-traffic-lists-text">
                Go
              </span>
            </li>
          </ul>

          <p class="gem-c-contextual-sidebar__brexit-text govuk-body-s govuk-!-margin-top-2 govuk-!-margin-bottom-1">
            Check what you need to do
          </p>

        </a>

      </div>

    </div>

</div>



  </div>


{% endblock %}
