{% extends "layout.html" %}

{% block pageTitle %}
  How to reduce flooding in your area
{% endblock %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        prototype
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <a class="govuk-back-link" href="start">
    Back
  </a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Who can help me with floods and reducing flood risk
      </h1>

      <p class="govuk-body">
        Who best contact with helping with flooding and who to get advice about flood reduction methods such as Natural Flood Management.
      </p>

    </div>


  </div>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l" id="authoritites">
        Who is responsible for my flooding
      </h2>

      <p class="govuk-body">
        Here would be a list of useful resources and people who can help you with reducing flood risks in your area.
      </p>

    </div>

    <div class="govuk-grid-column-one-third">
      <div class="summary">
        <div class="summary-box">
          <h2 class="govuk-heading-m">
            Summary
          </h2>
          <p class="govuk-body-s">
            A block that provides a summary of the pros and cons of the solution, and where best to use them. Etc.
          </p>
        </div>
      </div>
    </div>

  </div>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l" id="authoritites">
        Who can provide expert help and advice about reducing flood risk
      </h2>

      <p class="govuk-body">
        Here would be a list of useful resources and people who can help you with reducing flood risks in your area.
      </p>

    </div>

    <div class="govuk-grid-column-one-third">
      <div class="summary">
        <div class="summary-box">
          <h2 class="govuk-heading-m">
            Summary
          </h2>
          <p class="govuk-body-s">
            A block that provides a summary of the pros and cons of the solution, and where best to use them. Etc.
          </p>
        </div>
      </div>
    </div>

  </div>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l" id="authoritites">
        Who else can help
      </h2>

      <p class="govuk-body">
        Here would be a list of useful resources and people who can help you with reducing flood risks in your area.
      </p>

    </div>

    <div class="govuk-grid-column-one-third">
      <div class="summary">
        <div class="summary-box">
          <h2 class="govuk-heading-m">
            Summary
          </h2>
          <p class="govuk-body-s">
            A block that provides a summary of the pros and cons of the solution, and where best to use them. Etc.
          </p>
        </div>
      </div>
    </div>

  </div>

{% endblock %}
