{% extends "layout.html" %}

{% block pageTitle %}
  How to reduce flooding in your area
{% endblock %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        prototype
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <a class="govuk-back-link" href="start">
    Back
  </a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Working together as a community to help reduce flood risk
      </h1>

      <p class="govuk-body">
        Some introductory information about why it's important to act as a group.
      </p>

      <h2 class="govuk-heading-l">
        What flood groups can do
      </h2>

      <p class="govuk-body">
        Some information about joining a flood group. Where to find them. What they can do. Some information about joining a flood group. Where to find them. What they can do. Some information about joining a flood group. Where to find them. What they can do. Some information about joining a flood group. Where to find them. What they can do.
      </p>


    </div>



  </div>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l" id="join">
        Join a flood group
      </h2>

      <p class="govuk-body">
        Some information about joining a flood group. Where to find them. What they can do.
      </p>

      <h3 class="govuk-heading-m">
        What flood groups can do
      </h3>

      <p class="govuk-body">
        Some information about joining a flood group. Where to find them. What they can do. Some information about joining a flood group. Where to find them. What they can do. Some information about joining a flood group. Where to find them. What they can do. Some information about joining a flood group. Where to find them. What they can do.
      </p>

    </div>

    <div class="govuk-grid-column-one-third">
      <div class="summary">
        <div class="summary-box">
          <h2 class="govuk-heading-m">
            Summary
          </h2>
          <p class="govuk-body-s">
            A block that provides a summary of the pros and cons of the solution, and where best to use them. Etc.
          </p>
        </div>
      </div>
    </div>

  </div>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l" id="create">
        Start a flood group
      </h2>

      <p class="govuk-body">
        Some information about starting a flood group. What they can do. What you need to do. How to get going. Who to speak to.
      </p>

      <h3 class="govuk-heading-m">
        What you need to get started
      </h3>

      <p class="govuk-body">
        Some information about starting a flood group. What they can do. What you need to do. How to get going. Who to speak to. Some information about starting a flood group. What they can do. What you need to do. How to get going. Who to speak to. Some information about starting a flood group. What they can do. What you need to do. How to get going. Who to speak to. Some information about starting a flood group. What they can do. What you need to do. How to get going. Who to speak to.
      </p>

      <p class="govuk-body">
        Some information about starting a flood group. What they can do. What you need to do. How to get going. Who to speak to.
      </p>


    </div>

    <div class="govuk-grid-column-one-third">
      <div class="summary">
        <div class="summary-box">
          <h2 class="govuk-heading-m">
            Summary
          </h2>
          <p class="govuk-body-s">
            A block that provides a summary of the pros and cons of the solution, and where best to use them. Etc.
          </p>
        </div>
      </div>
    </div>

  </div>






{% endblock %}
