
{% extends "layout.html" %}

{% block pageTitle %}
  How can I reduce flooding in my area?
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Natural Flood Management
      </h1>
      <p>
        Prototypes for NFM 2.0
      </p>

    </div>

  </div>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <p class="govuk-body-s index-date">
        29 March, 2021
      </p>

      <h2 class="govuk-heading-l index-version">
        Version 2
      </h2>

      <p class="govuk-body">
        We now feel confident of the direction we need to take. A content based solution provides the most effective way to reach our goals of raising awareness and enthusiasm for NFM. The question is now - <strong>how to do it?</strong>.
      </p>

      <p class="govuk-body">
        This version of the prototype is to explore the best platform - and therefore the best means - to display the content in an engaging and meaningful way.
      </p>

      <h3 class="govuk-heading-m">
        Testing content
      </h3>

      <p class="govuk-body">
        Choose start point.
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="v2/protect">Pepare for flooding: Protect yourself from future flooding</a>
        </li>
        <li>
          <a href="v2/reduce">Pepare for flooding: Reduce Title TBD</a>
        </li>
        <li>
          <a href="v2/whp">Increase resilience</a>
        </li>
      </ul>

    </div>

  </div>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <p class="govuk-body-s index-date">
        29 February, 2021
      </p>

      <h2 class="govuk-heading-l index-version">
        Version 1.1
      </h2>

      <details class="govuk-details" data-module="govuk-details">

        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Version 1.1 Details
          </span>
        </summary>

        <p class="govuk-body">
          After the first stage of user research around Version 1 this is a tweaked version based on some of things we noticed.
        </p>

        <h3 class="govuk-heading-m">
          <a href="v1-1/v1-a/start_v1">Option A</a>
        </h3>

        <p class="govuk-body">
          Option A still explores the use of a location service to provide local context, but the 'story' is made a bit tighter. Also the content pages are pared back so they are more different top Option B. This makes sure that there is a clear distinction between the layouts for the user.
        </p>

        <h3 class="govuk-heading-m">
          <a href="v1-1/v1-b/start">Option B</a>
        </h3>

        <p class="govuk-body">
          Option B remains largely the same, but we have rearranged the order of the sections to see if making the NFM section more prevalent has any effect. There are also some extra navgation cues at the bottom of sections to aid the journey through the story steps.
        </p>

      </details>

    </div>

  </div>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <p class="govuk-body-s index-date">
        11 February, 2021
      </p>

      <h2 class="govuk-heading-l index-version">
        Version 1
      </h2>

      <details class="govuk-details" data-module="govuk-details">

        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Version 1 Details
          </span>
        </summary>

        <div class="govuk-details__text">

          <p class="govuk-body">
            The first iterations of ideas after discovery. User research gave us a lot of directions to explore, but also some common themes. The two iterations explore solutions that stick to the mission statement of <strong>'raising awareness of NFM'</strong> and not getting distracted by trying to solve all the problems.
          </p>

          <h3 class="govuk-heading-m">
            <a href="v1/v1-a/start_v1">Option A</a>
          </h3>

          <p class="govuk-body">
            Option A explores the use of a location service to provide local context to flooding as a whole, before providing information about NFM as a solution.
          </p>

          <h3 class="govuk-heading-m">
            <a href="v1/v1-b/start">Option B</a>
          </h3>

          <p class="govuk-body">
            Option B is a pure content based solution to raise awareness of NFM - the designs of which are based on the style of the <a href="https://helpwithchildarrangements.service.justice.gov.uk/" class="govuk-link">'Getting help with child arrangements'</a> guide.
          </p>

        </div>

      </details>

    </div>
  </div>


{% endblock %}
