
{% extends "layout.html" %}

{% block pageTitle %}
  How can I reduce flooding in my area?
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Natural Flood Management
      </h1>
      <p>
        Prototypes for the NFM 2.0
      </p>


      <h2 class="govuk-heading-l">We're are the start of the journey</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="v1/start_v1">Start v1 - A</a>
        </li>
        <li>
          <a href="v1-b/start">Start v1 - B</a>
        </li>
      </ul>

    </div>
  </div>

{% endblock %}
