
{% extends "layout.html" %}

{% block pageTitle %}
  How can I reduce flooding in my area?
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Natural Flood Management
      </h1>
      <p>
        Prototypes for NFM 2.0
      </p>

    </div>

  </div>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">
        Version 1
      </h2>

      <p class="govuk-body">
        The first iterations of ideas.
      </p>

      <h3 class="govuk-heading-m">
        <a href="v1-a/start_v1">Option A</a>
      </h3>

      <p class="govuk-body">
        Option A explores the use of a location service to provide local context to flooding as a whole, before providing information about NFM as a solution.
      </p>

      <h3 class="govuk-heading-m">
        <a href="v1-b/start">Option B</a>
      </h3>

      <p class="govuk-body">
        Option B is a pure content based solution to raise awareness of NFM - the designs of which are based on the style of the <a href="https://helpwithchildarrangements.service.justice.gov.uk/" class="govuk-link">'Getting help with child arrangements'</a> guide.
      </p>

    </div>
  </div>


{% endblock %}
